/* footer */

.footerMain {
  margin-top: 4rem;
}

.footer {
  border-top: 2px solid var(--text-clr);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  align-items: flex-start;
}

.footerLogo {
  text-align: center;
}

.footerLogoImg {
  width: 100%;
  max-width: 15rem;
}

.footerRightCol {
  text-align: right;
}

.socialLinksFooter {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.25rem;
}

.socialLinkFooter {
  color: var(--text-clr);
}

.footerText {
  font-size: 0.75rem;
  margin-top: 1rem;
  line-height: 1.6;
}

.footerText > a {
  color: var(--blue-clr);
  text-decoration: none;
}

@media (max-width: 1000px) {
  .socialLinksFooter {
    gap: 0.5rem;
    font-size: 1rem;
  }

  .footerText {
    font-size: 0.65rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .footerLogo {
    grid-row: 1/2;
    width: 15rem;
    justify-self: center;
  }

  .footerRightCol {
    width: 15rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    justify-self: center;
    text-align: center;
  }

  .socialLinksFooter {
    font-size: 1.25rem;
    justify-content: center;
  }

  .footerText {
    margin-top: 0rem;
  }
}
