/* style.css */

@font-face {
  font-family: 'Anglecut';
  src: url('/FONTS/Anglecut.otf');
}

/* utlities  */

:root {
  --bgc: #000;
  --text-clr: #fefefe;
  --black-light: #a2a2a2;
  --black-light-1: #0f0f0f;
  --black-light-2: #1f1f1f;
  --blue-clr: #004fde;
  --blue-clr-op-10: rgb(0, 79, 222, 0.5);
  --franker: Francker W10;
  --anglecut: Anglecut;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: var(--bgc);
  color: var(--text-clr);
  font-family: var(--franker);
}

section {
  padding: 4rem 0;
}

.section-title {
  font-size: 2rem;
  font-family: var(--anglecut);
  text-transform: uppercase;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.btn {
  padding: 1rem 2rem;
  font-family: var(--anglecut);
  font-size: 0.875rem;
  text-transform: uppercase;
  background-color: var(--bgc);
  color: var(--text-clr);
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--blue-clr);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  text-align: center;

  border-radius: 6px;
}

.btn:hover {
  box-shadow: inset 400px 0 0 0 var(--blue-clr);
  color: var(--text-clr);
}

.btn:focus-visible {
  outline: none;
}

/* preloader */

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.preloader-img {
  width: 70%;
  max-width: 300px;
}

.fade-in {
  opacity: 0;
  transform: translateY(2rem);
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0rem);
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
  section {
    padding: 2rem 0;
  }
}

@media (max-width: 600px) {
  .section-title {
    font-size: 1.5rem;
  }
  .btn {
    padding: 0.75rem 1rem;
    font-family: var(--anglecut);
    font-size: 0.75rem;
    text-align: center;
  }
}
@media (max-width: 470px) {
  .section-title {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 0.75rem;
    text-align: center;
  }
}
