/* splash screen navbar */
.navMain {
  padding: 1rem 0;
}

.nav {
  display: grid;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10rem;
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.25rem;
  margin-top: -1.25rem;
}

.socialLink {
  color: var(--text-clr);
}

@media (max-width: 1000px) {
  .logo {
    width: 7.5rem;
  }
}

@media (max-width: 800px) {
  .logo {
    width: 5rem;
  }

  .socialLinks {
    gap: 0.5rem;
    font-size: 1rem;
    margin-top: 0rem;
  }
}
